<div class="row"> 
  <h4>Welcome to Online Ordering System</h4>  
  <div class="col s9">
    <div class="carousel">
    </div>
    <div class="card">
      <div class="card-content">
        <p>On line Ordering System
        </p>
      </div>
    </div>
  </div>
</div>
