<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">GPBO</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <%= link_to 'Log in', login_path%>
      </li>
      <li>
        <%= link_to 'Log out', logout_path%>
      </li>
    </ul>
  </div>
</nav> 